body {
  height: 100vh;
  margin: 0 auto;
  background-image: linear-gradient(315deg, #57b3cd 0%, #acc7c4 74%);
  background-repeat: no-repeat;
  background-size: 100%;
  overflow-y: hidden;
}
.task-container {
  display: flex;
  align-items: center;
}
* {
  font-family: "Alfa Slab One", cursive;
  color: #2a4567;
  text-align: center;
}
.text-task {
  font-size: 18px;
  color: black;
  margin-left: 10px;
}

.done-text {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: line-through;
}
i {
  margin-left: 16px;
  font-size: 17px;
  color: #000000cc;
  cursor: pointer;
}
.editing {
  border: none;
  /* transition: 5s; */
  border-radius: 30px;
  text-align: center;
  margin: 34px 10px 32px;
}
h1 {
  font-size: 4rem;
  text-align: center;
}
main {
  display: grid;
}
button {
  cursor: pointer;
}
